@media(max-width: 376px){
  .headerH1 {
    font-size: 1.5rem;
  }
  .headerSmall{
    font-size: 1rem;
  }


}



.form-body {
  background-image: linear-gradient(to bottom left , blue , rgb(187, 231, 241)) ;
  color: black;
  font-size: medium;
  font-weight: bold;
}

.form-head {
  background-color: black;
  color: antiquewhite;
  font-size: larger;
  font-weight: bolder;
}

.jumb-padding {
  border: 2px  solid  black;
  margin-top: 2px;
  
}

.form-error-input{
  color: red;
  font-style: italic;
}

.flash-margin{
  margin: 0px;
}

.test{
  background-color: darkblue;
  color: aliceblue;
}

.card-body-style{
height: 80px;
font-weight: bold;
background-color: #c875cf;
}

.card-header-style{
  font-size: larger;
  font-weight: bolder;
  background-color: #F5B3EF;
}

.card-footer-style{
  background-color: #F5B3EF;
}

.card-btn-style{
  background-color: slateblue;
}

.card-btn-style:hover {
  background-color:#c875cf;
  color: black;
  
}

.article-top{
  color: mintcream;
}

.card-bg{
  background-color: black;
}

